  <ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
    <ion-buttons slot="start">
      <ion-button  [routerLink]="['/menu']">
        <ion-icon name="list-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      EPN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner">
    <img src="../../assets/5206295.jpg" />

    <div class="caption ion-padding">
     Bienvenido <br>
     Escuela Politécnica Nacional
    </div>

    
  </div>

  <div class="default-top-padding title">
    <h2>Carpetas</h2>
    <ion-button  [routerLink]="['/carpetas']">
    <ion-icon name="folder-open-outline"></ion-icon>
  </ion-button>
  </div>

  <div class="live-event">
    <img src="../../assets/events/carpetas.svg" width="100" height="100" />

    <div class="info">
      <div class="content">
        <h6>Estadistica</h6>
        <p class="date">23th Julio, 2021</p>
      </div>

    </div>
  </div>

  <div class="live-event">
    <img src="../../assets/events/carpetas.svg" width="100" height="100" />

    <div class="info">
      <div class="content">
        <h6>Ingles</h6>
        <p class="date">23th Julio, 2021</p>
      </div>

    </div>
  </div>

  <div class="live-event">
    <img src="../../assets/events/carpetas.svg" width="100" height="100" />

    <div class="info">
      <div class="content">
        <h6>matematicas</h6>
        <p class="date">23th Julio, 2021</p>
      </div>

    </div>
  </div>

  <div class="live-event">
    <img src="../../assets/events/carpetas.svg" width="100" height="100" />

    <div class="info">
      <div class="content">
        <h6>Programacion</h6>
        <p class="date">23th Julio, 2021</p>
      </div>

    </div>
  </div>
</ion-content>